nav {
	background: #b3bcf9;
	height: 80px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.companyLogoContainer {
	max-height: 80px;
	display: flex;
	margin-left: 12%;
	/* background-color: red; */
	align-items: center;
}
.companyLogoContainer h1 {
	color: #fff;
	font-size: 36px;
}

.logo img {
	width: 70px;
	height: 70px;
	margin-right: 0.7rem;
}
.nav-items {
	display: flex;
	/* background: yellow; */
	gap: 2rem;
	align-items: center;
	margin-right: 10%;
}
.nav-item {
	list-style: none;
}
.nav-item-link {
	text-decoration: none;
	color: #fff;
	transition-duration: 600ms;
}
.nav-item-link:hover {
	color: rgb(92, 33, 33);
	text-decoration: underline;
}
/* 
nav ul{
    float:right;
    margin-right:50px ;
    
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    

}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;

}
a.active,a:hover{
    background: rgb(207, 146, 33);
    transition: 5s;
}
label.checkbtn{
    font-size: 30px;
    color: white;
    float:right;
     line-height: 80px;
     margin-right: 40px;

} */
